@if (newTaskModalVisibility) {
  <app-new-task
    (emitNewTaskOnFormSubmit)="createNewTask($event)"
    (emitFalseOnClickedCancelButton)="cancelAddNewTaskModal()"/>
}

<section id="tasks">
  <header>
    <h2>{{ name }}'s Tasks</h2>
    <menu>
      <button
        id="addNewTask"
        (click)="onClickedAddNewTaskButton()"
      >Add Task
      </button>
    </menu>
  </header>
  <ul>
    @for (task of selectedUserTasks; track task.id) {
      <li>
        <app-task
          [task]="task"
          (emitIdOnClickedTaskCompleteButton)="completedTask($event)"
        ></app-task>
      </li>
    }
  </ul>
</section>
